<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bitplay.restpos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".views.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.TableDetailsActivity"
            android:label="@string/title_activity_table_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.BookedItemsActivity"
            android:label="@string/title_activity_booked_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.KDMainActivity"
            android:label="@string/title_activity_kdmain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.CashierMainActivity"
            android:label="@string/title_activity_cashier_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.BillPdfViewActivity"
            android:label="@string/title_activity_bill_pdf_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>